.home{
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width :  768px) {
    .home{
        padding: 50px 150px;
    }
}